.article-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.article-title {
    margin: 4px;
    color: black;
    font-weight: bold;
}

.article-url {
    font-size: 80%;
}

.article-upvote {
    font-size: 80%;
}

.article-details {
    display: flex;
    flex-direction: row;
    font-size: 80%;
}

.article-details-entry {
    margin-left: 4px;
}
